.container{
    padding-top:-30 ;
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.wraper{
    padding: 50px;
    margin: 0;
    width: 50%;
    padding-left:100px;
    color:white;
    position: absolute;
    
}
.header{font-weight: 900;
font-size:40px;}
.btnorder{
    width: 170px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #FFB423;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;

}
.color{
    color: #FFB423;
}
.descpar{
    color: lightgray;
}